@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;500;600;700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{

  overflow:hidden;

  font-family:'Poppins',sans-serif;

  background:
  linear-gradient(
  135deg,
  #fff7c7,
  #ffe066,
  #ffffff
  );

  position:relative;
}

/* SCREEN */

.screen{

  width:100%;
  height:100vh;

  display:none;

  justify-content:center;
  align-items:center;

  flex-direction:column;

  position:relative;

  padding:20px;

  z-index:2;
}

.active{
  display:flex;
}

/* TEXT */

.mainText{

  font-family:
  'Great Vibes',
  cursive;

  font-size:58px;

  color:#222;

  margin-bottom:10px;
}

.instruction{

  font-size:18px;

  font-weight:600;

  margin-bottom:20px;
}

.funnyTitle,
.puzzleText{

  font-family:
  'Great Vibes',
  cursive;

  font-size:58px;

  margin-bottom:25px;
}

.birthdayText{

  font-family:
  'Great Vibes',
  cursive;

  font-size:100px;

  color:white;

  text-shadow:
  0px 0px 20px
  #ff3f8e;

  margin-bottom:20px;

  z-index:2;
}

/* CAKE */

.cakeWrap{
  position:relative;
}

.cakeArea{

  position:relative;

  display:flex;

  justify-content:center;
  align-items:center;
}

#cake,
#finalCake{

  width:550px;

  transition:1s;
}

.cakeCrack{

  position:absolute;

  width:8px;
  height:0%;

  background:white;

  left:50%;
  top:10%;

  transform:translateX(-50%);

  opacity:0;
}

.cakeCut .cakeCrack{

  height:80%;

  opacity:1;

  transition:0.5s;
}

.cakeCut img{

  transform:
  scale(0.85)
  rotate(8deg);

  opacity:0;
}

/* DRAG KNIFE */

#dragKnife,
#dragKnifeFinal{

  width:110px;

  position:absolute;

  left:-130px;

  top:50%;

  transform:
  translateY(-50%)
  rotate(-20deg);

  z-index:5;

  cursor:grab;

  touch-action:none;

  transition:0.2s;
}

/* BUTTON */

.btnGroup{

  display:flex;

  gap:20px;
}

button{

  padding:18px 35px;

  border:none;

  border-radius:60px;

  background:#ff3f8e;

  color:white;

  font-size:18px;

  font-weight:700;

  cursor:pointer;

  box-shadow:
  0px 10px 20px
  rgba(0,0,0,0.2);

  transition:0.3s;
}

button:hover{

  transform:scale(1.05);
}

#completePuzzle{

  opacity:0.4;

  pointer-events:none;
}

/* MONKEY */

#monkeyPopup{

  position:fixed;

  inset:0;

  display:none;

  justify-content:center;
  align-items:center;

  flex-direction:column;

  background:
  rgba(0,0,0,0.9);

  z-index:9999;
}

.monkey{

  width:250px;

  border-radius:20px;

  margin-bottom:20px;
}

.popupText{

  color:white;

  font-size:40px;

  font-weight:700;
}

/* PUZZLE */

.puzzleGrid{

  width:340px;

  display:grid;

  grid-template-columns:
  repeat(5,1fr);

  gap:4px;

  margin-bottom:25px;
}

.piece{

  width:65px;
  height:65px;

  background-image:
  url("./photo21.jpg");

  background-size:
  325px 340px;

  background-repeat:no-repeat;

  border-radius:10px;

  border:2px solid white;

  cursor:grab;

  overflow:hidden;

  box-shadow:
  0px 4px 10px
  rgba(0,0,0,0.15);

  transition:0.2s;
}

.piece:hover{

  transform:scale(1.05);
}

/* CAROUSEL */

.carousel{

  width:100%;

  overflow:hidden;

  position:relative;

  margin-top:20px;
}

.carouselTrack{

  display:flex;

  gap:20px;

  width:max-content;

  animation:
  scroll 60s linear infinite;
}

.carouselTrack img{

  width:300px;
  height:520px;

  object-fit:cover;

  border-radius:30px;

  flex-shrink:0;

  box-shadow:
  0px 10px 20px
  rgba(0,0,0,0.2);
}

/* PLAYER */

.musicPlayer{

  position:absolute;

  bottom:20px;
  right:20px;

  background:white;

  padding:12px 18px;

  border-radius:20px;

  display:flex;

  align-items:center;

  gap:15px;

  z-index:5;
}

.bars{

  display:flex;

  gap:4px;
}

.bars span{

  width:5px;
  height:20px;

  background:#ff3f8e;

  border-radius:10px;

  animation:
  bounce 1s infinite;
}

.bars span:nth-child(2){
  animation-delay:0.2s;
}

.bars span:nth-child(3){
  animation-delay:0.4s;
}

.bars span:nth-child(4){
  animation-delay:0.6s;
}

/* PETALS */

.petals{

  position:fixed;

  inset:0;

  overflow:hidden;

  pointer-events:none;

  z-index:0;
}

.petals span{

  position:absolute;

  font-size:28px;

  animation:
  fall linear infinite;
}

/* SPARKLES */

.sparkles{

  position:absolute;

  width:100%;
  height:100%;

  background-image:
  radial-gradient(
  white 2px,
  transparent 2px
  );

  background-size:
  40px 40px;

  opacity:0.5;
}

/* STAR BLAST */

.starBlast{

  position:absolute;

  inset:0;

  pointer-events:none;

  overflow:hidden;

  z-index:99;
}

.star{

  position:absolute;

  font-size:25px;

  animation:
  blast 1s linear forwards;
}

/* ANIMATION */

@keyframes scroll{

  from{
    transform:translateX(0);
  }

  to{
    transform:
    translateX(-50%);
  }
}

@keyframes bounce{

  0%{
    height:10px;
  }

  50%{
    height:28px;
  }

  100%{
    height:10px;
  }
}

@keyframes fall{

  0%{

    transform:
    translateY(-120px)
    rotate(0deg);

    opacity:1;
  }

  100%{

    transform:
    translateY(110vh)
    rotate(360deg);

    opacity:0;
  }
}

@keyframes blast{

  0%{

    transform:
    scale(0);

    opacity:1;
  }

  100%{

    transform:
    scale(2)
    translateY(-250px);

    opacity:0;
  }
}

/* MOBILE */

@media(max-width:768px){

  .mainText,
  .funnyTitle,
  .puzzleText{

    font-size:42px;
  }

  .birthdayText{

    font-size:58px;
  }

  #cake,
  #finalCake{

    width:320px;
  }

  .carouselTrack img{

    width:180px;
    height:320px;
  }

  .piece{

    width:55px;
    height:55px;

    background-size:
    275px 290px;
  }

  .puzzleGrid{

    width:290px;
  }

  #dragKnife,
  #dragKnifeFinal{

    width:80px;

    left:-70px;
  }

}
